<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testtask">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Task_Display"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task_Task"
            android:label="@string/title_activity_task_task" />
        <activity android:name=".Task_Session" />
        <activity android:name=".TimeKeeper" />
        <activity
            android:name=".Viewer_Session"
            android:label="@string/title_activity_session_viewer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Viewer_Task"
            android:label="@string/title_activity_task_viewer" />
        <activity
            android:name=".Viewer_Events"
            android:label="@string/title_activity_viewer__events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Task_Event"
            android:label="@string/title_activity_task__event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".Viewer_Groups"
            android:label="@string/title_activity_viewer__groups"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Task_Group"></activity>
    </application>

</manifest>