<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deviousindustries.testtask">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Details_Instance"
            android:label="@string/title_activity_details_instance" />
        <activity
            android:name=".Details_LongTerm"
            android:label="@string/title_activity_details_long_term"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Viewer_LongTerm"
            android:label="@string/title_activity_viewer_long_term"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Viewer_Tasklist"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Details_Task"
            android:label="@string/title_activity_details_task" />
        <activity
            android:name=".Details_Session"
            android:label="@string/title_activity_details_session" />
        <activity android:name=".TimeKeeper" />
        <activity
            android:name=".session_viewer.SessionViewer"
            android:label="@string/title_activity_viewer_session"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".session.Session"
            android:label="@string/title_activity_details_session"/>
        <activity
            android:name=".Viewer_Task"
            android:label="@string/title_activity_viewer_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Viewer_Events"
            android:label="@string/title_activity_viewer_events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Details_Event"
            android:label="@string/title_activity_details_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".Viewer_Groups"
            android:label="@string/title_activity_viewer_group"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Details_Group"
            android:label="@string/title_activity_details_group"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.deviousindustries.testtask.Notification" />
                <action android:name="com.deviousindustries.testtask.SYNC" />
            </intent-filter>
        </receiver>
    </application>

</manifest>